logs/
setup/
!.mvn/wrapper/maven-wrapper.jar
jcubeboot-bgworker/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
jcbeBoot.log.*

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

jcubeboot-frontui/front/node_modules
node_modules/
target/
.idea/*.xml
